<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"></link>
    <title>File Uploader</title>
</head>
<body>
    <%- include("navbar", { user: user }); %>
    <% if (user){%>

        <div id="open-form-button-container">
            <button class="open-form-button" id="add-folder-button">Add Folder</button>
            <button class="open-form-button" id="add-file-button">Add File</button>
        </div>

        <div id="files-container">
            <h3 id="files-container-header">Files</h3>
            <% if (files){ %>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Folder</th>
                        <th>Date Added</th>
                    </tr>
                <% files.forEach((file) => { %>
                        <tr>
                            <td>
                                <a href="/folders-files/files/<%= file.name %>"><%= file.name %></a>
                            </td>
                            <td>
                                folder name
                            </td>
                            <td>
                                <%= file.date_added %>
                            </td>
                        </tr>
                <% })%>
                </table>
            <% } %>
        </div>

        <!-- ADD FOLDER FORM -->
        <div class="add-folder-form-container">
            <form action="/folders-files/add-folder" method="post" id="add-folder-form">
                <label for="new-folder">New Folder Name:</label>
                <input id="new-folder" name="newFolder" type="text" />
                <button type="submit" id="add-folder-submit">Add</button>
                <button type="reset" class="add-form-close" id="add-folder-close">x</button>
            </form>
        </div> 

        <!-- ADD FILE FORM -->
        <div class="add-file-form-container">
            <form action="/folders-files/upload-file" method="post" enctype="multipart/form-data" id="add-file-form">
                <label for="selectedFolder">Folder: </label>
                <select id="selectedFolder" name="selectedFolder">
                    <option value="Uploads" selected>Uploads</option>
                    <% folders.forEach((folder) => { %>
                        <% if (folder.name !== "Uploads") {%>
                            <option value="<%= folder.name %>"> <%= folder.name %> </option>
                        <% } %>
                    <% })%>
                </select>
                <input type="file" name="selectedFile" />
                <button type="submit" id="add-file-submit">Upload</button>
                <button type="reset" class="add-form-close" id="add-file-close">x</button>
            </form>
        </div>  
    <% } else {%>
    <div id="sign-in-form-container">
        <h1 id="sign-in-form-header">Sign In</h1>
        <form action="/sign-in" method="post" id="sign-in-form">

            <div class="email">
                <label for="email">Email:</label>
                <input type="email" id="email" name="username">
            </div>

            <div class="password">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>

            <button type="submit" id="sign-in-button">Sign In</button>
        </form>
    </div>
    <% }%>
    <script src="/js/index.js"></script>
</body>
</html>