<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
</head>
<body>
    <%- include("navbar", { user: user }); %>
    <% if (user){%>
        <h3>Files</h3>
        <% if (files){ %>
            <% files.forEach((file) => { %>
                <table>
                    <tr>
                    <%= file.name %>
                    <%= file.date_added %>
                    <%= file.size %>
                    <tr>
                </table> 
            <% })%>
        <% } %>
	    <button>Add Folder</button>
        <form action="/folders-files/add-folder" method="post">
            <label for="new-folder">Name:</label>
            <input id="new-folder" name="newFolder" type="text" />
            <button type="submit">Add</button>
        </form> 
	    <button>Add File</button> 
        <form action="/folders-files/upload-file" method="post" enctype="multipart/form-data">
            <select name="selectedFolder">
                <option value="Uploads" selected>Uploads</option>
                <% folders.forEach((folder) => { %>
                    <% if (folder.name !== "Uploads") {%>
                        <option value="<%= folder.name %>"> <%= folder.name %> </option>
                    <% } %>
                <% })%>
            </select>
            <input type="file" name="selectedFile" />
            <button type="submit">Upload</button>
        </form>  
    <% } else {%>
    <h1>Sign In</h1>
    <form action="/sign-in" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <button type="submit">Sign In</button>
    </form>
    <% }%>
</body>
</html>